<ng-template #left>
  <nz-space nzAlign="center">
    @if (resourceData()) {
      <button *nzSpaceItem nz-button nzType="dashed" [routerLink]="['/system', 'access', 'resources']">
        {{ resourceData()?.label }}
        <nz-icon nzType="close" />
      </button>
    }
  </nz-space>
</ng-template>

<nz-card style="height: 100%" [nzBordered]="false" [nzTitle]="left">
  <nz-table [style.height.%]="100" nzTemplateMode>
    <thead>
      <tr>
        <th><app-title>操作名称</app-title></th>
        <th><app-title>操作路径</app-title></th>
        <th nzRight nzAlign="center" nzWidth="50px">
          <button nz-button nzType="text" nz-tooltip="操作">
            <nz-icon nzType="setting" />
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      @for (data of resourceData()?.actions; track data.value) {
        <tr>
          <td>{{ data.label }}</td>
          <td>/{{ data.value }}</td>
          <td nzRight nzAlign="center">
            <button nz-button nzType="text" disabled>
              <nz-icon nzType="ellipsis" />
            </button>
          </td>
        </tr>
      }
    </tbody>
  </nz-table>
</nz-card>
