<form nz-form nzLayout="vertical" id="form" [formGroup]="form" (appSubmit)="submit($event)">
  <nz-row [nzGutter]="[16, 0]">
    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label nzRequired>导航名称</nz-form-label>
        <nz-form-control nzHasFeedback [nzAutoTips]="tips.name">
          <input nz-input formControlName="name" placeholder="请输入导航名称" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label>图标</nz-form-label>
        <nz-form-control>
          <nz-input-wrapper>
            <nz-icon
              nzInputAddonBefore
              [nzType]="form.get('icon')?.value === '' ? 'question' : form.get('icon')?.value"
            />
            <input nz-input formControlName="icon" placeholder="请输入图标" />
          </nz-input-wrapper>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>

  <nz-form-item>
    <nz-form-label nzRequired>状态</nz-form-label>
    <nz-form-control>
      <nz-switch formControlName="active"></nz-switch>
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button type="button" nzType="default" (click)="close()">取消</button>
  <button nz-button nzType="primary" form="form" [disabled]="!form.valid">提交</button>
</div>
