<nz-float-button nz-tooltip="新增分组" nzType="primary" nzIcon="plus" (click)="openGroup()" />

<nz-card style="height: 100%" [nzBordered]="false">
  <nz-tree
    nzBlockNode
    nzDraggable
    [nzData]="nodes()"
    [nzShowExpand]="false"
    [nzTreeTemplate]="treeRef"
    [nzBeforeDrop]="beforeDrop"
    (nzContextMenu)="actions($event, menu)"
    (nzOnDrop)="regroup($event)"
  >
  </nz-tree>
</nz-card>

<ng-template #treeRef let-node>
  @let data = routeM()[node.key];
  @if (data) {
    <nz-row style="border: 1px #dedede dashed" nzJustify="space-between" nzAlign="middle" nzGutter="16">
      <nz-col>
        <span class="menu-item">
          @if (data.type === 1) {
            <nz-icon
              style="color: #1890ff"
              [nzType]="!node.isExpanded ? 'plus-circle' : 'minus-circle'"
              (click)="expand(node)"
            />
          }

          @if (data.type === 2 && data.icon) {
            <nz-icon [nzType]="data.icon" />
          }

          <span class="menu-title">
            {{ data.name }}
          </span>

          @if (data.link) {
            <a class="menu-link" target="_blank" nz-typography nzCopyable [nzCopyText]="data.link">
              {{ data.link }}
            </a>
          }
        </span>
      </nz-col>
      <nz-col></nz-col>
      <nz-col>
        @if (!data.active) {
          <nz-tag nzColor="red">已禁用</nz-tag>
        }

        @if (data.type === 2) {
          <nz-tag nzColor="blue">
            <nz-icon nzType="api" />
            已设置 {{ 0 }} 资源规则
          </nz-tag>
        }

        <nz-tag [nzColor]="data.type === 1 ? 'purple' : 'geekblue'">
          <nz-icon [nzType]="data.type === 1 ? 'group' : 'file'" />
          {{ routes.typeM[data.type] }}
        </nz-tag>
      </nz-col>
    </nz-row>
  }
</ng-template>

<nz-dropdown-menu #menu>
  @let selecedData = selected();
  @if (selecedData) {
    <ul nz-menu>
      <li nz-menu-item nzDisabled>{{ selecedData.name }}</li>
      <li nz-menu-divider></li>
      @if (selecedData.type === 1) {
        <li nz-menu-item (click)="open(undefined, selecedData.id)"> 新增路由</li>
        <li nz-menu-item (click)="openGroup(selecedData)"> 修改</li>
      } @else {
        <li nz-menu-item (click)="open(selecedData)"> 修改</li>
      }

      <li nz-menu-item nzDanger (click)="delete(selecedData)"> 删除</li>
    </ul>
  }
</nz-dropdown-menu>
