@header-space-width: 500px;
@header-height: 64px;

nz-header {
  height: @header-height;
  line-height: @header-height;
  padding: 0;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
}

.navigation {
  border: none;
  margin-top: -2px;
  li {
    font-weight: 500;
    font-size: 15px;
  }
}
