nz-layout {
  overflow: hidden auto;
}

@h: 48px;

nz-header {
  height: @h;
  line-height: @h;
  padding: 0 12px;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
}

.navigation {
  width: 100%;
  overflow: hidden;
}

nz-content {
  padding: 0.25rem;
}

.center {
  height: 100%;

  nz-avatar {
    margin-top: -6px;
  }

  &:hover,
  &:focus {
    cursor: pointer;
  }
}
