<ng-template #left>
  <nz-space nzAlign="center">
    @if (roleData()) {
      <button *nzSpaceItem nz-button nzType="dashed" [routerLink]="['/system', 'general', 'roles', 'home']">
        {{ roleData()!.name }}
        <nz-icon nzType="close" />
      </button>
    }
    <nz-input-search *nzSpaceItem [style.width.px]="180">
      <input nz-input placeholder="关键词" />
    </nz-input-search>
  </nz-space>
</ng-template>

<ng-template #right>
  <nz-space nzAlign="center">
    <button *nzSpaceItem nz-button nzType="primary"> 更新授权 </button>
  </nz-space>
</ng-template>

<nz-card style="height: 100%" [nzBordered]="false" [nzTitle]="left" [nzExtra]="right">
  <nz-row [nzGutter]="[16, 16]">
    @for (nav of global.navs; track nav.key) {
      <nz-col [nzSpan]="12">
        <ng-template #extra>
          <nz-switch
            [nzCheckedChildren]="onRef"
            [nzUnCheckedChildren]="offRef"
            [ngModel]="display.has(nav.key)"
            (ngModelChange)="watchDisplay(nav.key, $event)"
          >
          </nz-switch>
        </ng-template>
        <nz-card nzSize="small" nzType="inner" [nzBordered]="false" [nzTitle]="nav.name" [nzExtra]="extra">
          @if (!navNodes()[nav.key]) {
            <nz-empty />
          }
          <nz-tree [nzData]="navNodes()[nav.key]" nzCheckable />
        </nz-card>
      </nz-col>
    }
  </nz-row>
</nz-card>

<!--<nz-tabs-->
<!--  style="height: 100%; padding: 24px 0; overflow: hidden auto"-->
<!--  nzSize="large"-->
<!--  nzTabPosition="left"-->
<!--  [nzTabBarExtraContent]="bottom"-->
<!--&gt;-->
<!--  <nz-tab nzTitle="视图授权"> </nz-tab>-->
<!--</nz-tabs>-->

<ng-template #onRef>
  <nz-icon nzType="eye" />
</ng-template>
<ng-template #offRef>
  <nz-icon nzType="eye-invisible" />
</ng-template>
