<ng-template #bottom>
  @if (roleData()) {
    <button nz-button nzType="dashed" [routerLink]="['/system', 'general', 'roles', 'home']">
      {{ roleData()!.name }}
      <nz-icon nzType="close" />
    </button>
  }
</ng-template>

<nz-tabs style="height: 100%; padding: 24px 0" nzSize="large" nzTabPosition="left" [nzTabBarExtraContent]="bottom">
  @for (nav of global.navs; track nav.key) {
    <ng-template #navTitle>
      <nz-space nzAlign="center">
        <span *nzSpaceItem> <nz-icon [nzType]="nav.icon" /> {{ nav.name }}</span>
      </nz-space>
    </ng-template>
    <nz-tab [nzTitle]="navTitle">
      <nz-switch
        [nzCheckedChildren]="onRef"
        [nzUnCheckedChildren]="offRef"
        [ngModel]="display.has(nav.key)"
        (ngModelChange)="watchDisplay(nav.key, $event)"
      >
      </nz-switch>
      <nz-tree #nzTreeComponent [nzData]="nodes()" nzCheckable />
    </nz-tab>
  }
</nz-tabs>

<nz-float-button nz-tooltip="更新授权" nzType="primary" nzIcon="save" />

<ng-template #onRef>
  <nz-icon nzType="eye" />
</ng-template>
<ng-template #offRef>
  <nz-icon nzType="eye-invisible" />
</ng-template>
