@import 'ng-zorro-antd/ng-zorro-antd.less';
@import 'ng-zorro-antd/ng-zorro-antd.aliyun.less';

.litho-split-container {
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: row;
  border: 1px solid #e8e8e8;
}

.litho-split-list-panel {
  width: 50%;
  overflow-y: auto;
  border-right: 1px solid #e8e8e8;
}

.litho-split-detail-panel {
  flex: 1;
  overflow: auto;
}

.cdk-drag-preview {
  display: table;
}

.cdk-drag-placeholder {
  opacity: 0;
}
