<ng-template #left>
  <nz-space nzAlign="center">
    <app-keyword *nzSpaceItem [appModel]="m" (appOnSearch)="getData(true)"></app-keyword>
    <nz-select
      *nzSpaceItem
      [style.min-width.px]="150"
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="所属组织"
      [(ngModel)]="m.search.org_id"
      (ngModelChange)="getData(true)"
    >
      @for (item of orgItems(); track item.id) {
        <nz-option [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
      }
    </nz-select>
    <nz-select
      *nzSpaceItem
      [style.min-width.px]="150"
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="所属权限组"
      [(ngModel)]="m.search.role_id"
      (ngModelChange)="getData(true)"
    >
      @for (item of roleItems(); track item.id) {
        <nz-option [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
      }
    </nz-select>
    <app-toolbox *nzSpaceItem [appModel]="m" (appRefresh)="getData(true)" (appClear)="getData(true)"></app-toolbox>
  </nz-space>
</ng-template>

<ng-template #right>
  <nz-space nzAlign="center">
    <a nz-dropdown *nzSpaceItem [nzDropdownMenu]="bulkAction" [nzDisabled]="m.selection().size === 0">
      已选择 {{ m.selection().size }} 个项目
      <nz-icon nzType="down" />
    </a>
    <nz-dropdown-menu #bulkAction>
      <ul nz-menu nzSelectable>
        <li nz-menu-item nzDanger (click)="bulkDelete()">删除</li>
        <li nz-menu-item (click)="m.clearSelections()">取消选择</li>
      </ul>
    </nz-dropdown-menu>
    <button *nzSpaceItem nz-button nzType="primary" (click)="open()">新增</button>
  </nz-space>
</ng-template>

<app-box #box [appLeft]="left" [appRight]="right">
  <nz-table
    #tb
    [style.height.%]="100"
    [nzLoading]="m.loading()"
    [nzData]="m.data()"
    [nzTotal]="m.total()"
    [nzShowTotal]="box.totalRef()"
    [nzFrontPagination]="false"
    [nzShowPagination]="true"
    [nzShowSizeChanger]="true"
    [nzPageSizeOptions]="[10, 20, 50]"
    [(nzPageIndex)]="m.page"
    [(nzPageSize)]="m.pagesize"
    (nzPageIndexChange)="getData()"
    (nzPageSizeChange)="getData()"
  >
    <thead>
      <tr>
        <th
          nzLeft
          nzAlign="center"
          nzWidth="50px"
          [nzChecked]="m.checked()"
          [nzIndeterminate]="m.indeterminate()"
          (nzCheckedChange)="m.setCurrentSelections($event)"
        ></th>
        <th nzWidth="200px"><app-title>所属组织</app-title></th>
        <th nzWidth="270px"><app-title>电子邮件</app-title></th>
        <th nzWidth="200px"><app-title>所属权限组</app-title></th>
        <th><app-title>详情</app-title></th>
        <th nzRight="50px" nzAlign="center" nzWidth="100px">
          <app-title>状态</app-title>
        </th>
        <th nzRight nzAlign="center" nzWidth="50px">
          <button nz-button nzType="text" nz-tooltip="操作">
            <nz-icon nzType="setting" />
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      @for (data of tb.data; track data.id) {
        <tr>
          <td
            nzLeft
            nzAlign="center"
            [nzChecked]="m.selection().has(data.id)"
            (nzCheckedChange)="$event ? m.setSelection(data) : m.removeSelection(data.id)"
          ></td>
          <td>
            {{ orgM()[data.org_id].name }}
          </td>
          <td> {{ data.email }} </td>
          <td>
            {{ roleM()[data.role_id].name }}
            <a
              nz-popconfirm
              [nzPopconfirmTitle]="setRoleRef"
              [nzBeforeConfirm]="setRoleConfirm"
              (nzOnConfirm)="confirmOk()"
              (click)="openRole(data)"
            >
              <nz-icon nzType="edit" />
            </a>
          </td>
          <td>
            <app-split>
              <span *appSplitItem>
                {{ data.name | appBlank: '暂无姓名' }}
              </span>
              <span *appSplitItem>
                {{ data.phone | appBlank: '暂无手机号' }}
              </span>
            </app-split>
          </td>
          <td nzRight nzAlign="center">
            <app-active [appValue]="data.active"></app-active>
          </td>
          <td nzRight nzAlign="center">
            <button nz-button nzType="text" nz-dropdown [nzDropdownMenu]="actions">
              <nz-icon nzType="ellipsis" nzTheme="outline"></nz-icon>
            </button>
            <nz-dropdown-menu #actions>
              <ul nz-menu>
                <li nz-menu-item (click)="open(data)"> 修改</li>
                <li nz-menu-divider></li>
                <li nz-menu-item> 审计</li>
                <li nz-menu-item nzDanger (click)="delete(data)"> 删除</li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
      }
    </tbody>
  </nz-table>
</app-box>

<ng-template #setRoleRef>
  @let user = userData();
  @if (user) {
    <nz-space nzDirection="vertical">
      <div *nzSpaceItem>
        <b>{{ user.email }}</b>
      </div>
      <div *nzSpaceItem>
        <nz-select
          [style.min-width.px]="270"
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="请选择权限组"
          [ngModel]="user.role_id"
          (ngModelChange)="userData.set($event)"
        >
          @for (item of roleItems(); track item.id) {
            <nz-option [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
          }
        </nz-select>
      </div>
    </nz-space>
  }
</ng-template>
